{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
    {%- capture bgColor -%}
        background-color: {{ section.settings.color_bg }};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.padding_block != blank -%}
    {%- capture paddingblock -%}
        padding: {{section.settings.padding_block}};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.margin_block != blank -%}
    {%- capture marginblock -%}
        margin: {{section.settings.margin_block}};
    {%- endcapture -%}
{%- endif -%}
<div class="vela-section our-trainer overflow-hidden" style="{{ bgColor}}{{ paddingblock }}{{ marginblock }}">
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="vela-section__inner">
            <div class="vela-section__content text-center">
                <div class="row g-3 g-md-4 g-xl-5">
                    <div class="col-12 col-md-6">
                        <div class="our-trainer__item">
                            {%- if section.settings.image1_url != blank -%}
                                <a  href="{{ section.settings.image1_url }}" title="" >
                            {%- endif -%}
                                {% if section.settings.image1 != blank %}
                                    {% include 'img-global' with image: section.settings.image1 %}
                                {% else %}
                                    <img class="img-fluid" alt="{{ shop.name }}" src="https://via.placeholder.com/960x1056.jpg" />
                                {% endif %}
                            {%- if section.settings.image1_url != blank -%}
                                </a>
                            {%- endif -%}
                            <div class="our-trainer__content  pt-3 mt-2">
                                {%- if section.settings.image1_heading != blank -%}
                                    <h4 class="text-uppercase our-trainer__title"><a  href="{{ section.settings.image1_url }}" title="">{{ section.settings.image1_heading }}</a></h4>
                                {%- endif -%}
                                {%- if section.settings.image1_subheading != blank -%}
                                    <div class="our-trainer__subTitle">{{ section.settings.image1_subheading }}</div>
                                {%- endif -%}
                                {%- if section.settings.image1_desc != blank -%}
                                    <div class="our-trainer__desc border-top mt-3 pt-3">{{ section.settings.image1_desc }}</div>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row g-3 g-md-4 g-xl-5">
                            <div class="col-6">
                                <div class="our-trainer__item">
                                    {%- if section.settings.image2_url != blank -%}
                                        <a  href="{{ section.settings.image2_url }}" title="" >
                                    {%- endif -%}
                                        {% if section.settings.image2 != blank %}
                                            {% include 'img-global' with image: section.settings.image2 %}
                                        {% else %}
                                            <img class="img-fluid" alt="{{ shop.name }}" src="https://via.placeholder.com/480x528.jpg" />
                                        {% endif %}
                                    {%- if section.settings.image2_url != blank -%}
                                        </a>
                                    {%- endif -%}
                                    <div class="our-trainer__content  pt-3 mt-2">
                                        {%- if section.settings.image2_heading != blank -%}
                                            <h4 class="text-uppercase our-trainer__title"><a  href="{{ section.settings.image2_url }}" title="">{{ section.settings.image2_heading }}</a></h4>
                                        {%- endif -%}
                                        {%- if section.settings.image2_subheading != blank -%}
                                            <div class="our-trainer__subTitle">{{ section.settings.image2_subheading }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="our-trainer__item">
                                    {%- if section.settings.image3_url != blank -%}
                                        <a  href="{{ section.settings.image3_url }}" title="" >
                                    {%- endif -%}
                                        {% if section.settings.image3 != blank %}
                                            {% include 'img-global' with image: section.settings.image3 %}
                                        {% else %}
                                            <img class="img-fluid" alt="{{ shop.name }}" src="https://via.placeholder.com/480x528.jpg" />
                                        {% endif %}
                                    {%- if section.settings.image3_url != blank -%}
                                        </a>
                                    {%- endif -%}
                                    <div class="our-trainer__content  pt-3 mt-2">
                                        {%- if section.settings.image3_heading != blank -%}
                                            <h4 class="text-uppercase our-trainer__title"><a  href="{{ section.settings.image3_url }}" title="">{{ section.settings.image3_heading }}</a></h4>
                                        {%- endif -%}
                                        {%- if section.settings.image3_subheading != blank -%}
                                            <div class="our-trainer__subTitle">{{ section.settings.image3_subheading }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="our-trainer__item">
                                    {%- if section.settings.image4_url != blank -%}
                                        <a  href="{{ section.settings.image4_url }}" title="" >
                                    {%- endif -%}
                                        {% if section.settings.image4 != blank %}
                                            {% include 'img-global' with image: section.settings.image4 %}
                                        {% else %}
                                            <img class="img-fluid" alt="{{ shop.name }}" src="https://via.placeholder.com/480x528.jpg" />
                                        {% endif %}
                                    {%- if section.settings.image4_url != blank -%}
                                        </a>
                                    {%- endif -%}
                                    <div class="our-trainer__content  pt-3 mt-2">
                                        {%- if section.settings.image4_heading != blank -%}
                                            <h4 class="text-uppercase our-trainer__title"><a  href="{{ section.settings.image4_url }}" title="">{{ section.settings.image4_heading }}</a></h4>
                                        {%- endif -%}
                                        {%- if section.settings.image4_subheading != blank -%}
                                            <div class="our-trainer__subTitle">{{ section.settings.image4_subheading }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="our-trainer__item">
                                    {%- if section.settings.image5_url != blank -%}
                                        <a  href="{{ section.settings.image5_url }}" title="" >
                                    {%- endif -%}
                                        {% if section.settings.image5 != blank %}
                                            {% include 'img-global' with image: section.settings.image5 %}
                                        {% else %}
                                            <img class="img-fluid" alt="{{ shop.name }}" src="https://via.placeholder.com/480x528.jpg" />
                                        {% endif %}
                                    {%- if section.settings.image5_url != blank -%}
                                        </a>
                                    {%- endif -%}
                                    <div class="our-trainer__content  pt-3 mt-2">
                                        {%- if section.settings.image5_heading != blank -%}
                                            <h4 class="text-uppercase our-trainer__title"><a  href="{{ section.settings.image5_url }}" title="">{{ section.settings.image5_heading }}</a></h4>
                                        {%- endif -%}
                                        {%- if section.settings.image5_subheading != blank -%}
                                            <div class="our-trainer__subTitle">{{ section.settings.image5_subheading }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Our trainer",
        "class": "velaFramework",
        "settings": [
            {
              "type": "header",
              "content": "Design Block"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Enabel Full Width?"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "placeholder": "0px 0px",
                "default": "0 0 30px",
                "info": "Ex: 0px 0px 30px 0px"
            },
            {
               "type": "header",
               "content": "Item Primary"
            },
            {
                "type": "image_picker",
                "id": "image1",
                "label": "1st Image"
            },
            {
                "type": "url",
                "id": "image1_url",
                "label": "Url"
            },
            {
                "type": "text",
                "id": "image1_heading",
                "label": "Heading",
                "default": "Susan Carter"
            }, 
            {
                "type": "text",
                "id": "image1_subheading",
                "label": "Sub heading",
                "default": "Yoga Trainer"
            },   
            {
                "type": "textarea",
                "id": "image1_desc",
                "label": "Text",
                "default": "Master Yoga Science & Holistic Health <br\/>Five years of experience at North Kolkata Yoga & Yoga Organization, India"
            },
            {
                "type": "header",
                "content": "Item"
            },         
            {
                "type": "image_picker",
                "id": "image2",
                "label": "2st Image"
            },
            {
                "type": "url",
                "id": "image2_url",
                "label": "Url"
            },
            {
                "type": "text",
                "id": "image2_heading",
                "label": "Heading",
                "default": "Grace Johnson"
            }, 
            {
                "type": "text",
                "id": "image2_subheading",
                "label": "Sub heading",
                "default": "Yoga Trainer"
            },
            {
                "type": "header",
                "content": "Item"
            }, 
            {
                "type": "image_picker",
                "id": "image3",
                "label": "3st Image"
            },
            {
                "type": "url",
                "id": "image3_url",
                "label": "Url"
            },
            {
                "type": "text",
                "id": "image3_heading",
                "label": "Heading",
                "default": "Victoria Lawson"
            }, 
            {
                "type": "text",
                "id": "image3_subheading",
                "label": "Sub heading",
                "default": "Yoga Trainer"
            },
            {
                "type": "header",
                "content": "Item"
            },
            {
                "type": "image_picker",
                "id": "image4",
                "label": "4st Image"
            },
            {
                "type": "url",
                "id": "image4_url",
                "label": "Url"
            },
            {
                "type": "text",
                "id": "image4_heading",
                "label": "Heading",
                "default": "Stephanie Arnold"
            }, 
            {
                "type": "text",
                "id": "image4_subheading",
                "label": "Sub heading",
                "default": "Yoga Trainer"
            },
            {
                "type": "header",
                "content": "Item"
            },
            {
                "type": "image_picker",
                "id": "image5",
                "label": "5st Image"
            },
            {
                "type": "url",
                "id": "image5_url",
                "label": "Url"
            },
            {
                "type": "text",
                "id": "image5_heading",
                "label": "Heading",
                "default": "Cheryl Bates"
            }, 
            {
                "type": "text",
                "id": "image5_subheading",
                "label": "Sub heading",
                "default": "Yoga Trainer"
            }
        ],
        "presets": [
            {
                "name": "Our trainer",
                "category": "3. Images"
            }
        ]
    }
{% endschema %}